@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

div {
    margin-top: 30px;
    padding-left: 20px;
}

.ejercicio1 button{
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
    transition: 1s;
}

.ejercicio1 button:hover {
    background-color: lightblue;
    border-color: blue;
    color: darkblue;
}

.mensaje {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f8ff;
    border-left: 4px solid #2196F3;
    color: #0d47a1;
}

.mensaje p{
    font-weight: 500;
}

.mensaje:target {
    display: block;
}

.ejercicio2 a {
    color: black;
    text-decoration: none;
}

.ejercicio3 li:first-child {
    font-style: italic;
    color: blueviolet;
    font-weight: 700;
}